<div class="row">
  <div class="col-md-3 col-sm-12">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-page-operations-tab" data-toggle="pill" href="#v-pills-page-operations" role="tab" aria-controls="v-pills-page-operations" aria-selected="true">Page Operations</a>
      <a class="nav-link" id="v-pills-browse-space-tab" data-toggle="pill" href="#v-pills-browse-space" role="tab" aria-controls="v-pills-browse-space" aria-selected="false">Browse Space</a>
      <a class="nav-link" id="v-pills-add-content-tab" data-toggle="pill" href="#v-pills-add-content" role="tab" aria-controls="v-pills-add-content" aria-selected="false">Add Content</a>
    </div>
  </div>
  <div class="col-md-9 col-sm-12">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-page-operations" role="tabpanel" aria-labelledby="v-pills-page-operations-tab">
        <div class="d-flex justify-content-between">
          <small>Main</small>
          <div>
            <i class="material-icons">flag</i>&nbsp;
            <i class="material-icons">local_post_office</i>
          </div>
        </div>
        <h1>Welcome to Our Wiki!</h1>
        <small>Added by Peldi, last edited by Peldi in Mar 09 2008 (<a href="#">view changes</a>)</small>
        <p>Welcome to our awesome wiki. A place for us to share knowledge yadda yadda yadda.</p>
        <p>You can add images like the one below:</p>
        <div class="col-sm-12">
          <img src="https://dummyimage.com/600x400/000/fff" class="img-fluid" />
        </div>
        <br />
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a.</p>
      </div>
      <ul class="nav">
        <li class="nav-item d-flex align-items-center">
          <span>10 Chilren</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Show Children</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">View in Hierarchy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Add Child Page</a>
        </li>
      </ul>
      <hr />
      <ul class="nav">
        <li class="nav-item d-flex align-items-center">
          <i class="material-icons">comment</i>&nbsp; 0 Comments
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Add Comment</a>
        </li>
      </ul>
      <div class="tab-pane fade" id="v-pills-browse-space" role="tabpanel" aria-labelledby="v-pills-browse-space-tab">...</div>
      <div class="tab-pane fade" id="v-pills-add-content" role="tabpanel" aria-labelledby="v-pills-add-content-tab">...</div>
    </div>
  </div>
</div>
